.hidden{
    display: none !important;
}

.outlined-text {
    -webkit-text-fill-color: $color-white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-dark;
    color: transparent;
}

.underlineOnHover {
    @include underlineOnHover;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.link {
    display: inline-block;
    color: currentColor;
    width: fit-content;
    text-decoration: none;

    @include hover {
        text-decoration: underline dotted currentColor;
        text-underline-offset: 4px;
    }
}

.link-dots {
    text-decoration: underline dotted currentColor;
    text-underline-offset: 4px;

    @include hover {
        color: $color-primary;
    }
}